<div class="container">
    <div class="content">
      <div class="display">
        <p class="title">Roll Bot | About</p>
      </div>
      <div class="cal">
        <div class="cal-3">
          <p class="title">Play the game</p>
          <p>game game game game game game game game game game game game game game game game game game game game game game game game game game game</p>
        </div>
        <div class="cal-3">
          <p class="title">Play the game</p>
          <p>game game game game game game game game game game game game game game game game game game game game game game game game game game game</p>
        </div>
        <div class="cal-3">
          <p class="title">Play the game</p>
          <p>game game game game game game game game game game game game game game game game game game game game game game game game game game game</p>
        </div>
      </div>
    </div>
  
  </div>