<div class="container">
  <div class="content">
    <div class="display">
      <p class="title">Roll Bot</p>
    </div>
    <div class="cal">
      <div class="cal-3">
        <p class="title">Real login</p>
        <p>No more mock users! Never. Oauth2 and cookies! Login with discord and facebook, twitter and google+</p>
      </div>
      <div class="cal-3">
        <p class="title">Managed Roles</p>
        <p>Bot can be configured to take care of assigning users to roles for you. Some examples include assign on join, assign on request, and assign after a delay.</p>
      </div>
      <div class="cal-3">
        <p class="title">Good developer</p>
        <p>No more fool girls</p>
      </div>
      <div class="cal-3">
          <p class="title">Cats</p>
          <p>More cats in this project/ Just couse cats is awersome</p>
      </div>
      <div class="cal-3">
          <p class="title">Anime</p>
          <p>Mystery bundle of figures, collectibles, apparel, accessories & more from popular anime series.</p>
      </div>
      <div class="cal-3">
          <p class="title">Some more silly promise</p>
          <p>Really, who read this?</p>
      </div>
    </div>
  </div>

</div>